# Base URL for the real backend API
PUBLIC_API_BASE_URL=http://localhost:3000

PUBLIC_ENABLE_MOCK=true

#duplique com o nome .env para rodar localmente, e altere o PUBLIC_ENABLE_MOCK para false para usar a api real, ou deixe como true para usar os mocks do msw.
