<!DOCTYPE html>
<html>
<head>
    <title>Meu Monolito Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Minhas Tarefas</h1>
    <form action="/add" method="POST">
        <input type="text" name="content" placeholder="Nova tarefa...">
        <button type="submit">Adicionar</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>{{ task.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>